
body {
    margin: 0;
    padding:0;
  }
  
  .reset-password-page-container {
    display: flex;
    height: 100vh;
  }
  
  .reset-password-left-panel {
    flex: 1;
    /* background-color: #1f1f1f; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../public/images/Forgetright.webp');
    background-size: cover;
    background-position: center;
  }
  
  .reset-password-right-panel {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to bottom right, 
      rgba(9, 9, 34, 0.9) 10%, 
      rgba(0, 0, 30, 0.9) 47%, 
      rgba(1, 24, 38, 0.9) 100%); */
      background-image: url('../../../public/images/Forgetbg.jpg'); 
  }
  
  .reset-password-form-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    text-align: center;
  }
  
  .reset_logo {
    width: 170px;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #070228;
    background-color: #070228;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 
     0 0 10px rgba(255, 255, 255, 0.7); 
  }
  
  
  .reset_h201 {
    margin-bottom: 15px;
    color: white; 
  }
  
  .reset_p01 {
    margin-bottom: 25px;
    color: #f3ebeb;
    font-size: 15px;
  }
  
  .reset_form1 {
    display: flex;
    flex-direction: column;
  }
  
  .label1 {
    margin-bottom: 15px;
  }
  
  .reset_input01 {
    width: 110%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #e0e0e0;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 0 2px black;
  }
  
  
  .reset_input01:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
  }
  
  .reset_input01::placeholder {
    color: #f4e3e3;
  }
  
  .reset-button {
    width: 45%;
    padding: 11px;
    background-color: #f2eef7; 
    border: none;
    border-radius: 5px;
    color: #031f1f;
    font-size: 17px;
    font-weight: bold; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 110px;
    height:45px;
  }
  
  .reset-button:hover{
    animation: glow 1s ease-in-out;
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(236, 240, 241, 0.5);
    }
    100% {
      box-shadow: 0 0 20px rgba(23, 5, 227, 0.8);
    }
  }
  
  .back-to-login-button {
    width: 45%;
    padding: 11px;
    background-color: #f2eef7; 
    border: none;
    border-radius: 5px;
    color: #031f1f;
    font-size: 17px;
    font-weight: bold; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 35px;
    height: 47px;
    margin-top: 10px; 
  }
  
  .back-to-login-button:hover {
    animation: glow 1s ease-in-out;
  } 
